<template name="Header">
  <img style="max-height: 200px" class="ui fluid image" src="/images/clubs.png">
  <div style="margin: 0px; border-radius: 0px" class="ui borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Club Hub</h1></a>
      <a class="item" href="{{ pathFor 'My_Clubs_Page' }}">My Clubs </a>
      <a class="item" href="{{ pathFor 'Search_Page' }}">Search </a>
      <a class="right aligned item" href="{{ pathFor 'Add_Contact_Page' }}">Contact Us </a>
      <a href="{{pathFor 'Login_Page'}}" class="item">Login </a>
    </div>
  </div>
</template>